body{
    display: flex;
    justify-content: center;
    flex: wrap;
}
*{
    margin: 0;
    padding: 0;
}
#container{
    width: 510px;
    background-color: black;
    height:1980px;

}
nav{
    background-color: #8854b9;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
#profile{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.image{
    border: none;
    border-radius: 10px;
}
#address{
    color: white;
    width: 50%;
    height: 50px;
}
#address a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#address p{
    font-size: 13px;
    color: white;
}
#icons{
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#icons i{
    color: white;
    font-size: 20px;
    font-style: normal;
}
.ad{
    margin: 5px;
    width: 500px;
    height: 100px;
    /* background-color: rgb(0, 0, 0);
    background-image: url("ad4.jpeg"); */
}
#transfer{
    margin: 5px;
    width: 500px;
    height: 150px;
    background-color: rgb(58, 26, 77);
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.heading{
    color: White;
    font-size: 16px;
    margin-left: 10px;
}

.method a{
    color: white;
    padding: 10px 12px;
    font-size: 23px;
    background-color:#975dce ;
    border: none;
    border-radius: 13px;
    margin-left: 20px;
}
.method p{
    color:white;
    font-size: 13px;
    padding-top: 15px;
}
.types{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#b1{
    font-size: 12px;
    padding: 5px;
    border: 1px solid #8854b9;
    background-color: rgb(58, 26, 77);
    color: white;

}
#b1 a{
    color: #975dce;
    font-size: 12px;
}
#b2{
    width: 60%;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #8854b9;
    background-color: rgb(58, 26, 77);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
span{
    font-size: 10px;
}
#reward{
    margin: 5px;
    width: 500px;
    height: 100px;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 10px;
}
.offers{
    width: 150px;
    height: 50px;
    background-color: rgb(58, 26, 77);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

a{
    height: 30px;
    text-decoration: none;


}
.offers p{
    color: white;
    font-size: 12px;
    font-weight: lighter;
    padding-left: 20px;

}
.offers i{
    color: #975dce;
    padding-left: 20px;
}
.offers h6{
    color: white;
    font-size: 13px;
    font-weight: bolder;
    padding-left: 20px;
}
.content{
    margin: 5px;
    width: 500px;
    height: 120px;
    background-color:  rgb(58, 26, 77);
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ways{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ways button{
    color: rgb(58, 26, 77);
    font-size: 12px;
    font-weight: lighter;
    background-color: #dfbdff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;

}
.way a{
    color: #975dce;
    padding: 10px 12px;
    font-size: 23px;
    background-color:transparent;
    border: none;
    border-radius: 13px;
    margin-left: 20px;

}
.p1{
    margin-left: 33px;
}
.images{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 15px;
}
.ctnd{
    margin: 5px;
    width: 500px;
    height: 150px;
    background-color: rgb(58, 26, 77);
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

#sponser{
    margin: 5px;
    width: 500px;
    height: 150px;
    background-color: rgb(58, 26, 77);
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}

.p2{
    margin-left: 30px;
}

footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: #8854b9;
    align-items: center;
    position: sticky;
    bottom: 0;
}
.footer-icon i{
    color: #efdffd;
    font-size: 20px;

}
.footer-icon p{
    color: #efdffd;
    font-size: 15px;

}
#home-icon i{
    color: white;
    padding: 2px 10px;
}
#home-icon p{
    color: white;
    padding: 2px 10px;
}
.footer-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
